*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html{
    font-size: 62.5%;
}

.allpagtop-img{
    position: relative;
    top: 0rem;
    padding: 0;
    margin: 0rem;
    width: 100%;
    height: 22rem;
   

}


.allpagtop-img img{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-bottom: .1rem solid rgb(206, 133, 23);
}



.allpagtop-img h1{
    position: absolute;
    font-size: 2rem;
    text-align: center;
    color: rgb(105 255 60);
    font-weight: 800;
    font-family: sans-serif;
    top: 55%;
    left: 40%;
    letter-spacing: 0.05rem;
}

/*************** DONATE NOW *********
*************************************/

.donate-now{
    position: relative;
    height: 75rem;
}

.donate-now h5{
    position: relative;
    top: 1rem;
    color: black;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.donate-now h5::before{
    position: absolute;
    content: "";
    width: 20rem;
    height: .1rem;
    background-color: rgb(107, 13, 13);
    bottom: -.1rem;
    margin-left: -2rem;

}

.donate-now h6{
    position: relative;
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
    top: 2rem;
    letter-spacing: .1rem;
    font-family: sans-serif;
    text-align: center;
}

.donate-cont{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    top: 2rem;
   
    
}

.donate-details{
    position: relative;
    width: calc(100%/2);
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.donate-details h6{
    position: relative;
    top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    font-family: sans-serif;
}

.donate-details p{
    position: relative;
    top: 4rem;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-family: sans-serif;
    text-align: center;
}


.donate-details img{
    position: relative;
    height: 15rem;
    width: 20rem;

}

.form-group{
    position: relative;
    top: 3rem;
    width: 20rem;
    padding: .5rem .2rem;
    display: flex;
    
}
.form-group label{
    position: relative;
    font-size: 1.5rem;
    flex-direction: row;
    color: rgb(215, 47, 47);
    
}

.form-group input{
    position: relative;
    font-family: serif;
    border:none;
    margin-left: 1rem ;
    padding: .5rem 1rem;
    background: #f5f5f5;
    font-size: 1.3rem;
    border-radius: .5rem;
    outline: none;
}



.donate-details button{
    position: relative;
    margin: 4rem ;
    border:none;
    font-size: 1.3rem;
    outline: none;
    border-radius: .5rem;
    padding: .7rem;
    background-color: rgb(235, 102, 53);
    height: 3rem ;
    width: 6.5rem;
    font-family: serif;
    color: antiquewhite;
}


/***********************************
************** LEGAL POLICY ***********/


.legal{
    position: relative;
}

.LEGAL-POLICY{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
    padding: 2.5rem;
    border: .1rem solid rgba(51, 48, 48, .2);
    border-radius: .5rem;
    background: #f5f5f5;

}
.legal-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.legal-img img{
    position: relative;
    height: 30rem;
    width: 30rem;
    padding: 4rem;
    border: .1rem solid black;
    border-radius: 50%;
   
}

.LEGAL-POLICY h4{
    position: relative;
    top: 2rem;
    font-size: 2rem;
    color: rgb(77, 8, 8);
    font-family: sans-serif;
    text-align: center;
    margin: 1rem;

}

.LEGAL-POLICY h3{
    position: relative;
    top: 2rem;
    font-size: 2rem;
    color: rgb(77, 8, 8);
    font-family: sans-serif;
    text-align: center;
    margin: 1rem;

}

.LEGAL-POLICY h3::before{
    content: "";
    position: absolute;
    width: 13rem;
    height: .1rem;
    bottom: -.1rem;
    background-color: rgb(77, 8, 8);
    margin-left: 1rem;
}

.LEGAL-POLICY h4::before{
    content: "";
    position: absolute;
    width: 17rem;
    height: .1rem;
    bottom: -.1rem;
    background-color: rgb(77, 8, 8);
    margin-left: 2rem;
}

.LEGAL-POLICY pre{
    position: relative;
    top: 2rem;
    font-size: 2.3rem;
    color: rgb(77, 8, 8);
    font-family: sans-serif;
    text-align: center;

}

.LEGAL-POLICY h5{
    position:relative;
    font-size: 1.8rem;
    color: rgb(77, 8, 8);
    font-family: sans-serif;

}


.LEGAL-POLICY h6{
    position: relative;
    font-size: 1.5rem;
    color: rgb(21, 20, 20);
    font-family: sans-serif;
    top: 1rem;
    padding: .5rem;
    margin-left: .5rem;

}


.LEGAL-POLICY p{
    position: relative;
    top: 2rem;
    font-size: 1.5rem;
    color: rgb(21, 20, 20);
    font-family: sans-serif;
    top: .5rem;
    padding: .5rem;
    letter-spacing: .01rem;
    word-spacing: .1rem;

}

/***********************
*** vision & mission ***/


.vision_mission{
    position: relative;
}


.vision{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    border: .1rem solid rgba(51, 48, 48, .2);
    border-radius: .5rem;
    background: #f5f5f5;

}

.vision h5{
    position:relative;
    font-size: 2rem;
    color: rgb(77, 8, 8);
    font-family: sans-serif;

}

.vision h6{
    position: relative;
    font-size: 2rem;
    color: rgb(21, 20, 20);
    font-family: sans-serif;
    top: 1rem;
    padding: .5rem;
 
}

.vision p{
    position: relative;
    top: 2rem;
    font-size: 1.5rem;
    color: rgb(21, 20, 20);
    font-family: sans-serif;
    top: .5rem;
    padding: .5rem;
    letter-spacing: .01rem;
    word-spacing: .1rem;
}













@media(max-width:62rem) {
    
}


@media (max-width:48rem) {

    
.donate-now{
    height: 115rem;
}

    .donate-cont{
        flex-wrap: wrap;
        
    }
    .donate-details{
        width: calc(100%);
        padding-top: 4rem;
    }
    
}

@media (max-width:30rem) {

    .allpagtop-img h1{
        left: 30%;
    }

    .donate-now{
        height: 117rem;
    }

    .donate-details{
        align-items:flex-start;
    }

    .donate-details img{
        margin-left: 5rem;
    }
    
    .form-group{
        position: relative;
        top: 3rem;
        width: 15rem;
        padding: .5rem 1rem;
        
    }

    .form-group input{
        margin-left: .5rem ;
        padding: .5rem 1rem;
        font-size: 1.1rem;

    }

    .legal-img img{
        position: relative;
        height: 18rem;
        width: 18rem;
        padding: 2rem;
    }

    .LEGAL-POLICY h3::before{
        width: 0rem;
        height: 0rem;
        bottom: -.1rem;
        background-color: none;
    }
    
    .LEGAL-POLICY h4::before{
        width: 0rem;
        height: 0rem;
        bottom: -.1rem;
        background-color: none;
    }
    
    
}